*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Applies to the entire body */
body{
    font-family: Helvetica, Arial, sans-serif; /*can put fonts in custom order - the rest are backup fonts */
    background-color: blue
}

/* anchor tags */
a{
    text-decoration: none;
}

/* Applies to all images */
img{
    width: 100%;
}

/* header */
header{
    display: flex;
    width: 100%;
    height: 50vh; /* viewport height - the height of the device you're viewing on */
    background-image: url(../images/cat-medium-1.jpg);
    background-size: cover;
    background-position-y: 40%;
    justify-content: center;
    align-items: center;
}

/* Applies to all h1 headers */
header h1{
    font-size: 16px;
}

section{
    display: flex;
    flex-wrap: wrap; /*allows the section to alter between column and row depending on dimensions*/
    justify-content: space-around;
    margin-top: 2%;
}

section div{
    width: 340px;
    margin: 4%, 0; /*top+bottom, right+left OR top, right, bottom, left*/;
    line-height: 25px; /*space between the lines*/
    text-align: justify;
}

section div p{
    padding: 2%; /*spaces out the elements*/
}

/* parallax container */
.parallax{
    background-image: url(../images/cafe.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #A63F03; /*backup if image doesn't load*/
    background-attachment: fixed; /*image will stay fixed in one place as you scroll*/
}

/* meet & greet cat gallery */
div.scroll-container {
    background-color: #A63F03;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    display: flex;
    width: max-content;
    margin: 25px;
    position: relative;
  }

div.scroll-container img {
    padding:5px;
    height: 500px;
}

/* MIGHT USE LATER */
/* hover information */ 
/* .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.scroll-container:hover .image {
    opacity: 0.3;
}
  
.scroll-container :hover .overlay {
    opacity: 1;
}
  
.text {
    background-color: #F28B50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
} */
  
/* tablet dimensions */
@media only screen and (min-width: 767px){
    header h1{
        font-size: 26px;
    }
    section div{
        width: 330px;
    }
}

/* desktop dimensions */
@media only screen and (min-width: 991px){
    header h1{
        font-size: 40px;
    }

    /* Alters the layout of the section when loaded on desktop */
    section{
        flex-direction: row;
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    padding: 5px;
    margin: 5px;
}