*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Applies to the entire body */
body{
    font-family: Helvetica, Arial, sans-serif; /*can put fonts in custom order - the rest are backup fonts */
    background-color: #F28B50;
}

/* anchor tags */
a{
    text-decoration: none;
}

/* Applies to all images */
img{
    width: 100%;
}

/* navigation */
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    background-color: #FFFAF0;
    position: relative;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* container for logo image in the nav*/
nav div{
    height: 100%;
    display: flex;
}

/* logo image */
nav div img{
    height: 100%;
    width: unset; /*unsets it from the parent*/
    padding: 5px;
}

/* container for nav links */
nav ul{
    display: none;
    background-color: #FFFAF0;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
}

.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 80px;
    color: black;
}

/* anchors in the listed items */
nav li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #A63F03;
    padding: 50px; /* space between links */
}

/* hovering over the anchors */
nav li a:hover{
    color: #F28B50;
}

/* FontAwesome icons */
i.fa-facebook{
    color: #316FF6;
    font-size: 35px;
}

i.fa-instagram{
    color: #F77737;
    font-size: 35px;
}

i.fa-x-twitter{
    color: black;
    font-size: 35px;
}

/* hamburger menu */
.hamburger{
    font-size: 30px; /*unicode to be treated like fonts rather than images*/
    position: absolute;
    display: flex;
    align-items: center;
    right: 10px;
}

/* header */
header{
    display: flex;
    width: 100%;
    height: 50vh; /* viewport height - the height of the device you're viewing on */
    background-image: url(../images/cat-medium-1.jpg);
    background-size: cover;
    background-position-y: 40%;
    justify-content: center;
    align-items: center;
}

/* Applies to all h1 headers */
header h1{
    font-size: 16px;
}

section{
    display: flex;
    flex-wrap: wrap; /*allows the section to alter between column and row depending on dimensions*/
    justify-content: space-around;
    margin-top: 2%;
}

section div{
    width: 340px;
    margin: 4%, 0; /*top+bottom, right+left OR top, right, bottom, left*/;
    line-height: 25px; /*space between the lines*/
    text-align: justify;
}

section div p{
    padding: 2%; /*spaces out the elements*/
}

/* parallax container */
.parallax{
    background-image: url(../images/cafe.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #A63F03; /*backup if image doesn't load*/
    background-attachment: fixed; /*image will stay fixed in one place as you scroll*/
}

/* meet & greet cat gallery */
div.scroll-container {
    background-color: #A63F03;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    display: flex;
    width: max-content;
    margin: 25px;
    position: relative;
  }

div.scroll-container img {
    padding:5px;
    height: 300px;
}

/* hover information */ 

.scroll-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: relative;
}

.image-container img{
    padding: 500px;
}

.image-container{
    position: relative;
    width: fit-content;
    margin: 2px;
}

.image {
    width: fit-content;
    height: fit-content;
    transition: opacity 0.5s ease;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.scroll-container .image-container:hover .image {
    opacity: 0.3;
}
  
.scroll-container .image-container:hover .overlay {
    opacity: 1;
}
  
.text {
    background-color: #F28B50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    width: fit-content;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/******** CONTACT PAGE *******/

/* header */
.contact-header{
    display: flex;
    width: 100%;
    height: 50vh; /* viewport height - the height of the device you're viewing on */
    background-image: url(../images/cat-medium-4.jpg);
    background-size: cover;
    background-position-y: 60%;
    justify-content: center;
    align-items: center;
    color: white;
}

/* contact body layout */

.contact-page{
    display: flex;
    flex-wrap: wrap; /*allows the section to alter between column and row depending on dimensions*/
    justify-content: space-around;
    margin-top: 2%;
    flex-direction: row;
}

.contact-page p{
    padding: 2%;
    margin-left: 100px;
    margin-right: 100px;
}


h2{
    padding: 20px; 
}

.contact-section{
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* contact form */
.contact-form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: black solid 2px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    padding: 20px;
    background-color:#F28B50;
}

.form-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* form labels */
.form-row label{
    font-weight: bolder;
}

.form-row input{
    padding: 10px;
    margin: 10px;
}

.form-row textarea{
    margin: 10px;
}

button{
    margin: 15px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: black solid 2px;
    border-radius: 5px;
    cursor: pointer; /*changes the cursor when displayed over the button*/
}

input:focus{
    background: lightblue;
}


input:invalid, textarea:invalid{
    border: red 1px solid;
}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    text-transform: uppercase;
}

.playfair-display-small {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}

/* tablet dimensions */
@media only screen and (min-width: 767px){
    header h1{
        font-size: 26px;
    }
    section div{
        width: 330px;
    }

    div.scroll-container img {
        padding:5px;
        height: 400px;
    }

    nav ul{
        display: flex;
        background-color: #FFFAF0;
        list-style-type: none;
        align-items: center;
        justify-content: space-evenly;
    }

    .hamburger{
        display: none;
    }
}

/* desktop dimensions */
@media only screen and (min-width: 991px){
    header h1{
        font-size: 40px;
    }

    /* Alters the layout of the section when loaded on desktop */
    section{
        flex-direction: row;
    }

    div.scroll-container img {
        padding:5px;
        height: 500px;
    }

    nav ul{
        display: flex;
        background-color: #FFFAF0;
        list-style-type: none;
        align-items: center;
        justify-content: space-evenly;
    }

    .hamburger{
        display: none;
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    padding: 5px;
    margin: 5px;
}

.contact-column ul{
    list-style: none;
}

.contact-column ul li{
    display: flex;
    flex-direction: row;
}

.contact-column ul li a{
    color: black;
}